* {
    background-color: rgb(26, 26, 26);
    margin-left: 0;
    margin-right: 0;
}

html, body {
    height: 100%;
}

main {
    margin-left: 17%;
    margin-right: 17%;
    margin-top: 20px;
}

header {
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
    height: 150pt;
}

h1 {
    color: rgb(44, 147, 209);
    font-family: "DIN Condensed";
    font-size: 105pt;
    margin:20px;
    width: 450px !important;

}

#parkFastLogo {
    border-style: solid;
    border-color: rgb(44, 147, 209);
    border-width: 2pt;
    padding-top: 40px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 20px;
    font-family: "DIN Condensed";
    color: rgb(150, 154, 153);
    margin-top: 60px;
    margin-bottom: 70px;
    margin-left: 10px;
}


h1 > span {
    font-family: "Avenir Next";
    font-size: 105pt;
}




hr {
    border-color: rgb(44, 147, 209);
    border-width: 3px;
}

#page-wrap {
    min-height: 100%;
    margin-bottom: 0px;
}


#page-wrap:after {
    content: "";
    display: block;
}

#footer, .page-wrap:after {
    height: 150px;
}

#footerContainer {
    position: relative;
    font-family: "Avenir Next";
    color: rgb(150, 154, 153);
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
    margin: 10px 10px -150px 10px;
    height: 150px;
    clear: both;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 5pt;
}

#footerCourse {
    margin: 10px;
}

#footerDev {
    margin: 10px;
}

#NTNULogo {
    width: 150px;
    height: 50px;
    margin: 22px 10px 10px 10px;
}

h3.grayheader {
    font-family: "Avenir Next Demi Bold";
    color: rgb(150, 154, 153);
    font-size: 25pt;
    margin: 5px;
}

div.center {
    margin: auto;
    width: 55%;
    padding: 10px;
}

input {
    border-width: 1pt;
    border-color: rgb(44, 147, 209);
    border-radius: 25px;
    border-style: solid;
    padding: 15px 50px 15px 15px;
    margin: 10px;
    font-family: "Avenir Next";
    color: rgb(150, 154, 153);
    font-size: 12pt;
}

::-webkit-input-placeholder {
   opacity: 0.4;
    font-size: 9pt;
}

button {
    border-width: 3pt;
    border-color: rgb(150, 154, 153);
    border-radius: 25px;
    border-style: solid;
    padding: 10px 15px 10px 15px;
    margin: 10px;
    font-family: "Avenir Next";
    color: rgb(150, 154, 153);
    font-size: 12pt;
    font-weight: bold;
    transition: background 0.2s ease-out, border 0.2s ease-out;
}



h3.timerheader {
    font-family: "Avenir Next Demi Bold";
    color: rgb(150, 154, 153);
    font-size: 25pt;
    margin: 5px;
    text-align: center;
}

div.button-wrapper {
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

button.timerbuttons {
    font-family: "Avenir Next";
    color: rgb(150, 154, 153);
    font-size: 12pt;
    font-weight: bold;
    border-width: 3pt;
    border-color: rgb(150, 154, 153);
    border-radius: 25px;
    border-style: solid;
    padding: 15px 15px 15px 15px;
}

button:hover {
    cursor: pointer;
    color: rgb(44, 147, 209);
    background: rgb(150, 154, 153);
    border-color: rgb(150, 154, 153);
}

div.outputtimer {
    font-family: "Avenir Next Demi Bold";
    color: rgb(150, 154, 153);
    font-size: 30pt;
    text-align: center;
    padding: 10px;
    border-color: rgb(44, 147, 209);
    border-style: solid;
    border-radius: 25px;
    border-width: 1pt;
    width: 25%;
    margin-left: 36.5%;
}

div.outputparked {
    font-family: "Avenir Next Demi Bold";
    color: rgb(150, 154, 153);
    font-size: 46pt;
    text-align: center;
    padding: 10px;
    border-width: 1pt;
    border-color: rgb(44, 147, 209);
    border-style: solid;
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
}


@media (max-width: 700px) {
  #parkFastLogo {
      border-style: solid;
      border-color: rgb(44, 147, 209);
      border-width: 2pt;
      padding-top: 40px;
      padding-right: 25px;
      padding-left: 25px;
      font-family: "DIN Condensed";
      color: rgb(150, 154, 153);
      margin-top: 60px;
      margin-bottom: 70px;
      margin-left: 10px;
      visibility: hidden;
  }
div.outputtimer {
    font-family: "Avenir Next Demi Bold";
    color: rgb(150, 154, 153);
    font-size: 20pt;
    text-align: center;
    padding: 10px;
    border-color: rgb(44, 147, 209);
    border-style: solid;
    border-radius: 25px;
    border-width: 1pt;
    width: 40%;
    margin-left: 27%;
}
    div.outputparked {
    font-family: "Avenir Next Demi Bold";
    color: rgb(150, 154, 153);
    font-size: 20pt;
    text-align: center;
    padding: 10px;
    border-width: 1pt;
    border-color: rgb(44, 147, 209);
    border-style: solid;
    border-radius: 25px;
    width: 50%;
    margin-left: 23%;
}
}
