body {
    background-color: rgb(26, 26, 26);
    margin: 0Px;
}

header {
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h1 {
    color: rgb(44, 147, 209);
    font-family: "DIN Condensed";
    font-size: 105pt;
    margin: 20px;
}

h1 > span {
    font-family: "Avenir Next";
    font-size: 105pt;
}

#logo {
    width: 130px;
    height: 130px;
    margin: 20px;
    padding-top: 10px;
}

main {
    margin-left: 50px;
    margin-right: 50px;
}

hr {
    border-color: rgb(44, 147, 209);
    border-width: 3px;
}

footer {

}

#footerContainer {
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
