{% extends 'base.html' %}

{% block content %}
    <div class="center">
        <h3 class="timerheader">Parked in:</h3>
        <div class="outputparked" id="parkedoutput">0h 0m 0s</div>

        <h3 class="timerheader">Set timer:</h3>
        <p class="infotext">Set the timer to the time when your parking ends</p>
        <input type="time" class="timerinput" id="timeinput" placeholder="00:00" onfocus="this.placeholder = ''" name="time" onchange="setTimer(this.value)"/>
        <div class="button-wrapper">
            <button id="start" type="button" class="button button--main">Start</button>
            <button id="reset" type="button" class="button button--main">Reset</button>
        </div>

        <h3 class="timerheader">Timer sat to:</h3>
        <div class="outputtimer"><output id="timeoutput">00 : 00</output></div>
        <p class="infotext"><output id="setTimerOutput" class="console"> </output></p>
    </div>

    <script src="../static/scripts/settimer.js"></script>
    <script src="../static/scripts/parkedtimer.js"></script>

{% endblock %}
